@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #15a8ca;
}

/*--- Start Extra CSS --*/ 
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}
h3.heading {
font-size: 1.9rem;
font-weight: 700;
text-transform: uppercase;
}
.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #lebba3;
}
.feature svg.svg-inline--fa {
  font-size: 3.2rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.feature p {
  font-size: 1.1rem;
}
/*--- End Extra CSS --*/ 

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*--- Navigation CSS --*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  background: rgba(21, 168, 202, 0.9)!important;
}
.navbar-brand img {
  height: 3rem;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #8bd7ee;
}

/*--- End Navigation CSS --*/ 

/*--- Home CSS --*/
.home-inner {
  background-image: url(/Users/danimal/Desktop/VillageHub2019/Assets/LandBG.png)
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  color: #f5f54b;
  text-transform: uppercase;
  z-index: 1;
}
.caption h1 {
font-size: 3.0rem;
font-weight: 700;
letter-spacing: .3;
text-shadow: .1rem .1rem .8rem black;
padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg {
  font-weight: 700;
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
  margin: 1rem;
  color: #15a8ca !important;
  background-color: #f5f54b !important;
  border-color: #f5f54b !important;
}
.btn-lg:hover {
  background-color: white !important;
  border-color: #f5f54b !important;
  color: #f5f54b !important;
}

/*--- End Home CSS --*/  

/*--- Start Quote CSS --*/  
.narrow{
  width: 75%;
  margin: 5rem auto;
  padding-top:2rem;
}
.narrow h1{
  font-size: 1.9rem;
}
.btn-secondary {
  font-weight: 700;
  border-width: 2px;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
  margin: 1rem;
  color: #8bd7ee !important;
  background-color: white !important;
  border-color: #8bd7ee !important;
}
.btn-secondary:hover {
  background-color: #8bd7ee !important;
  border-color: #8bd7ee !important;
  color: white !important;
}
/*--- End Quote CSS --*/  

/*--- Start Features CSS --*/ 
.fixed {
  background-image: url(/Users/danimal/Desktop/VillageHub2019/Assets/FeaturesBG.png);
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7rem 2rem;
}
.fixed-background h3{
  margin-bottom: 2rem;
}
.fixed-background p{
  margin-top: 1.5rem;
}
/*--- End Features CSS --*/ 

/*--- Start Privacy CSS --*/ 
.offset1 {
  background-color: #bce7f2;
}
.btn-link {
  font-weight: 700;
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
  margin: 7rem;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #bce7f2 !important;
}
.btn-link:hover {
  background-color: #15a8ca !important;
  border-color: #15a8ca !important;
  color: #ffffff !important;
}
/*--- End Privacy CSS --*/ 

/*--- Start Contact Form CSS --*/



input[type=text], select, textarea {
  width: 66%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 2px solid #bce7f2; 
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}
/*---End Contact Form Css --*/

/*--- Start Footer CSS --*/ 
footer{
 background-color: #15a8ca;
  color: white;
  padding: 1rem 0 0rem;
}
footer img{
  height: 3rem;
  margin: .5rem 0;
}
footer a{
  color: white;
}
footer p{
  font-size: 0.5rem;
}
footer svg.svginline--fa {
  font-size: 1.6rem;
  margin: 0.5rem 0.5rem 0 0;
}
footer svg.svginline--fa:hover {
  color: #8bd7ee!important;
}
hr.socket {
  width: 100%;
  margin-bottom:1rem;
  background-color: #8bd7ee; 
}
/*--- End Footer CSS --*/ 

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
